<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TrackIt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TrackIt.Properties.Settings>
            <setting name="DatePicked" serializeAs="String">
                <value>1500-02-11</value>
            </setting>
            <setting name="MiniWindowOpened" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="a" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="FileCreated1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="avalue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StartupSet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="b" serializeAs="String">
                <value />
            </setting>
            <setting name="bvalue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c" serializeAs="String">
                <value />
            </setting>
            <setting name="cvalue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="d" serializeAs="String">
                <value />
            </setting>
            <setting name="dvalue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="e" serializeAs="String">
                <value />
            </setting>
            <setting name="evalue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="f" serializeAs="String">
                <value />
            </setting>
            <setting name="fvalue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="g" serializeAs="String">
                <value />
            </setting>
            <setting name="gvalue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="h" serializeAs="String">
                <value />
            </setting>
            <setting name="hvalue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="i" serializeAs="String">
                <value />
            </setting>
            <setting name="ivalue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="j" serializeAs="String">
                <value />
            </setting>
            <setting name="jvalue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="k" serializeAs="String">
                <value />
            </setting>
            <setting name="kvalue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="l" serializeAs="String">
                <value />
            </setting>
            <setting name="lvalue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="m" serializeAs="String">
                <value />
            </setting>
            <setting name="mvalue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="n" serializeAs="String">
                <value />
            </setting>
            <setting name="nvalue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="o" serializeAs="String">
                <value />
            </setting>
            <setting name="ovalue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="p" serializeAs="String">
                <value />
            </setting>
            <setting name="pvalue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="q" serializeAs="String">
                <value />
            </setting>
            <setting name="qvalue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="r" serializeAs="String">
                <value />
            </setting>
            <setting name="rvalue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="s" serializeAs="String">
                <value />
            </setting>
            <setting name="svalue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="t" serializeAs="String">
                <value />
            </setting>
            <setting name="tvalue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MiniWindowOpened1" serializeAs="String">
                <value>False</value>
            </setting>
        </TrackIt.Properties.Settings>
    </userSettings>
</configuration>